
body {
  background-color: darkblue;
  color: white;
  width: 100%;

}
.App {
  text-align: center;
}
.content{
  display: flex;
  
}
.subject{
  width: 35%;
  height: 400px;
  border: 3px solid black;
  text-align: center;

}
h3 {
  color: khaki;
  font-family: cursive;
}
.role {
  background-color: darkblue;
  color: red;
}
h3:hover {
  background-color: bisque;
  color: black;
  
}