#content {
    background-color: cadetblue;
    margin: 10px;
}
#vinay {
    background-color: aqua;
    margin: 10px;
}
#manvitha  {
    background-color: darkviolet;
    margin: 10px;
}
#love {
    background-color: chartreuse;
    margin: 10px;
}